.buttonNav {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    text-align: right;
  }

  .buttonSubMenu {
    background: transparent;
    border: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    text-align: right;
  }
  
  .sidebar {
    position: absolute;
    top: 80px;
    right: 0px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    transition: 0.5s all ease;
    color: #fff;
    font-family: Public Sans;
    font-size: 16px;
    background: rgba(4, 68, 132, 0.45);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    padding: 0;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 0px;
    row-gap: 30px;
    list-style: none;
  }
  
  .sidebar.open {
    width: auto;
  }
  
  .sidebar.closed {
    display: none;
  }
  
  .sidebar header {
    display: flex;
    align-items: center;
    height: 72px;
    padding: 0 1.25rem 0 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }
  
  .sidebar header button {
    width: 52px;
  }
  
  .sidebar header img {
    height: 24px;
  }
  
  .sidebar button {
    position: relative;
    display: flex;
    gap: 16px;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 6px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 0 16px;
    color: rgba(255, 255, 255, 0.95);
  }
  
  .sidebar button p:nth-child(2) {
    flex: 1 1 auto;
  }
  
  .sidebar button:is(.active, :hover) {
    background: rgba(0, 0, 0, 0.3);
  }
  
  .sidebar button i {
    transition: 0.3s;
  }
  
  .sidebar button.active > i:nth-child(3) {
    rotate: -180deg;
  }
  
  .sidebar button:not(.active):hover {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .sidebar ul {
    display: grid;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .sub-menu {
    position: relative;
    overflow: hidden;
    height: 0;
    transition: height 0.5s;
  }
  
  .sub-menu.open {
    height: auto;
  }
  
  .sub-menu ul {
    position: relative;
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sub-menu button {
    padding-left: 52px;
  }
  
  .sub-menu button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.35);
  }
  
  .sub-sub-menu {
    position: relative;
    overflow: hidden;
    height: 0;
    transition: height 0.5s;
  }
  
  .sub-sub-menu.open {
    height: auto;
  }
  
  .sub-sub-menu ul {
    position: relative;
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sub-sub-menu button {
    padding-left: 72px;
  }
  
  .sub-sub-menu button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 44px;
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.35);
  }
  
  .sidebar .material-symbols-outlined {
    font-size: 16px;
  }
  
  .sidebar i {
    font-size: 20px;
    width: 20px;
    max-width: 20px;
    min-width: 20px;
  }

  .LogoNavNueva {
    display: flex;
    width: 90%;
    align-items: center;
  }
  
  .logoNuevo {
    width: 100%;
    height: auto;
    padding: 8%;
    fill: black
  }

  .Prueba{
    background: linear-gradient(
        to bottom,
        rgba(12, 12, 12, 0.2),
        rgba(12, 12, 12, 0)
      );
  }

  .IconMobileOscuro {
    fill: #225065;
    justify-content: end;
    width: 25px;
    height: 30px;
    margin-top: 25px;
    margin-right: 20px;
  }
  
  .Nav-ClasMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }

  .Cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mobile {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .TraduccionMobile{
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    gap: 20px;
  }

  .language-buttonMobile {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    border-radius: 50%;
    transition: all 0.3s ease;
    font-size: 11px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Public Sans;
    font-size: 14px;
  }
  
  .language-buttonMobile.active {
    background-color: white;
    color: #225065;
  }

  .Link {
    color: inherit;
    text-decoration: inherit;
  }
  